body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace, sans-serif;
    transition: background-color 0.5s ease; 
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    padding: 2rem;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}


#Btn {
    padding: 10px 25px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: transform 0.2s;
}

#Btn:hover {
    transform: scale(1.1); 
}
  #reset {
    padding: 10px 25px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: transform 0.2s;
}

#reset:hover {
    transform: scale(1.1); 
}
 
